header {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
        background-color: @blueColor1;
        border-bottom: 1px solid @blueColor2;
        color: @whiteColor;
        height: 50px;

        .logo {
            display: inline-block;
            margin: 7px 0 0 0;

            img {
                width: 130px;
            }
        }

        button {
            margin: 8px 0 0 0;
            background: transparent none;
        }
    }
}
