// Background color
@bgColor: #eaeaea;

// Font colors
@defaultFontColor: #333333;

// Loader colors
@loaderBgColor: rgba(255, 255, 255, 0.8);
@loaderSpinnerColor: #000000;

// Gray colors
@lightGrayColor: #dddddd;
@lightGrayColor2: #cccccc;
@darkGrayColor: #333333;

// Black colors
@blackColor: #000000;

// White colors
@whiteColor: #ffffff;

// Blue color
@blueColor: #337ab7;
