// Background color
@bgColor: #eaeaea;

// Font colors
@defaultFontColor: #333333;

// Loader colors
@loaderBgColor: rgba(255, 255, 255, 0.8);
@loaderSpinnerColor: #000000;

// Gray colors
@lightGrayColor1: #dddddd;
@lightGrayColor2: #cccccc;
@darkGrayColor1: #333333;

// Black and white colors
@blackColor: #000000;
@whiteColor: #ffffff;

// Blue color
@blueColor1: #337ab7;

// Green colors
@greenColor1: #3b3f2a;
@greenColor2: #7b6f48;
@greenColor3: #558409;

// Yellow colors
@yellowColor1: #f6d840;

// Orange colors
@orangeColor1: #e89d20;
