.map {
    margin: 0;
    padding: 0;

    .angular-leaflet-map-container {
        position: absolute;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .angular-leaflet-map {
        height: 100%;
    }

    .info-box {
        .info-box-icon {
            float: left;
            width: 30px;

            img {
                height: 30px;
                width: 30px;
            }
        }
        .info-box-content {
            float: left;
            margin-left: 10px;

            p {
                margin-bottom: 0;
            }

            .destination {
                margin-top: 10px;
            }
        }
    }

    .tracker-control {
        background: url('../images/target.png') no-repeat;
        background-size: 40px 40px;
        bottom: 90px !important;
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 4px !important;
        width: 40px;
    }

    .homescreen-popup-backdrop {
        background-color: @blackTransparentColor;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .homescreen-popup {
        background-color: @whiteColor;
        border-top: 1px dashed @darkGrayColor1;
        bottom: 0;
        left: 0;
        padding: 10px;
        position: absolute;
        width: 100%;

        .fa {
            cursor: pointer;
            font-size: 18px;
            right: 10px;
            position: absolute;
            top: 10px;
        }
    }
}
