.map {
    margin: 0;
    padding: 0;

    .angular-google-map-container {
        position: absolute;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .info-box {
        .info-box-icon {
            float: left;
            width: 30px;

            img {
                height: 30px;
                width: 30px;
            }
        }
        .info-box-content {
            float: left;
            margin-left: 10px;

            p {
                margin-bottom: 0;
            }

            .destination {
                margin-top: 10px;
            }
        }
    }
}
