/**
 * We are using only bootstrap css for this project, so we import it here
 */
@import "../../../bower_components/bootstrap/less/bootstrap.less";

/**
 * Font
 */
* {
    font-family: Verdana, Geneva, sans-serif;
}

/**
 * Import less files from modules (must add manually)
 */
@import "../common/less/variables.less";
@import "../common/less/fa.less";
@import "../common/directives/loader/loader.less";
@import "../common/directives/pokemon-filter/pokemon-filter.less";
@import "../header/header.less";
@import "../left-menu/left-menu.less";
@import "../map/map.less";

/**
 * Common
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: @bgColor;
    color: @defaultFontColor;
}

.content {
    height: 100%;
    position: relative;
    width: 100%;
}

/**
 * Switch
 */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;

    input {
        display: none;

        &:checked + .slider {
            background-color: @greenColor3;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px @greenColor3;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(34px);
            -ms-transform: translateX(34px);
            transform: translateX(34px);
        }
    }

    .slider {
        border-radius: 26px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: @lightGrayColor2;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            border-radius: 50%;
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

/**
 * Btn green
 */
.btn-green {
    color: @whiteColor;
    background-color: @greenColor2;
    border-color: @greenColor1;

    &:hover {
        color: @whiteColor;
        background-color: @greenColor3;
        border-color: @greenColor1;
    }

    &:focus, .focus {
        color: @whiteColor;
        background-color: @greenColor3;
        border-color: @greenColor1;
    }

    &:active, .active {
        color: @whiteColor;
        background-color: @greenColor3;
        border-color: @greenColor1;
    }
}
